#choropleth_map {
	vertical-align: top;
	align-self: center;
	width: 100%;
	border-radius: 30px;
	margin-bottom: 30px;
}

#donut_chart {
	float: left;
	padding-left: 7%;
	padding-right: 10px;
	padding-bottom: 5%;
	width: 40%;
}

#group_bar_chart {
	align-self: center;
	padding-bottom: 20px;
}

#scatter_plot {
	vertical-align: top;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 5px;
	padding-left: 14%;
}

#bar_chart {
	float: left;
	padding-left: 3%;
	padding-right: 10px;
	padding-bottom: 7%;
	width: 40%;
}

#line_chart {
	float: right;
	padding-right: 7%;
	padding-bottom: 5%;
	padding-top: 5%;
	width: 45%;
}

#range_dot_plot {
	float: left;
	padding-left: 3%;
	padding-right: 10px;
	padding-bottom: 3%;
	padding-top: 15%;
	width: 40%;
}

.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #EDEDE9;
  }
#title{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	align-self: center;
	text-align: center;
	font-weight: bold;
	color: #023047;
}

.container {
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	border-radius: 30px;
	width: 900px;
	background-color: #fbfefb;
}

.heading {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: #03045e;
	font-size: x-large;
	padding-left: 5%;
}

.column_left {
	float: left;
    width: 40%;
	font-family: Tahoma, Verdana, Arial, sans-serif;;
    padding-right: 5%;
    padding-left: 5%;
}
.column_right {
	float: right;
	font-family: Tahoma, Verdana, Arial, sans-serif;;
	width: 40%;
	padding-right: 5%;
}
